[Unit]
Description=TF2 Rich Presence
After=default.target

[Service]
Type=simple
ExecStart=/usr/share/tf2-rich-presence/main

[Install]
WantedBy=default.target